
bin/
obj/
/packages/
riderModule.iml
*.iml
/_ReSharper.Caches/
_ReSharper.Caches/


.env
.env.local
.env.*.local
*.user
*.suo
*.userosscache
*.sln.docstates
*.pfx
*.pem
*.snk
.microsoft.dotnet.secret-manager.subdir/
usersettings.json


.idea/
*.sln.DotSettings.user
*.idea_modules/
atlassian-ide-plugin.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf


[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
artifacts/
publish/
out/
dist/
Generated\ Files/

.DS_Store
.fuse_hidden*
.nfs*
.Trash-*
.directory
Thumbs.db
desktop.ini
*.lnk
~$*
*~
*.db*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

project.lock.json
project.fragment.lock.json
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
*.binlog
*.coverage
*.coveragexml
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*


*.mdf
*.ldf
*.ndf
healthchecksdb
*.dbmdl


_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.JustCode
_TeamCity*
*.dotCover
.axoCover/*
!.axoCover/settings.json
*.GhostDoc.xml
.mfractor/
.localhistory/


*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal
*.accdb
*.mdb
*.realm

certs/*